ssh
!ssh/.gitkeep

# Ignore Terraform-related runtime files
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup

# Exclude Terraform's lock files, except the one in the root
**/terraform.lock.hcl
!terraform/terraform.lock.hcl

# Ignore all .tfvars and .tfvars.json files everywhere
**/*.tfvars
**/*.tfvars.json

# Exclude Ansible's inventory file, as it is dynamically generated
**/inventory
